@font-face {
  font-family: 'tinderFont';
  src: url(../assets/tinderFont.otf);
}

html {
    box-sizing: border-box;
    /* background gradient */
    /* background: linear-gradient(45deg, #fd297b, #ff5864, #ff655b);*/

  } 
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

  .title {
    font-family: 'tinderFont';
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    background: -webkit-linear-gradient(45deg, #fd297b, #ff5864, #ff655b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;



  }
  button{
    border: none;
    outline: none;
    background-color: transparent;
    
  }

  main{
    display: grid;
    width: 45rem;
    margin: auto;
  }

  .profiles__wrapper {
    display: flex;
    justify-content: space-between;
    
  }
  section {
    border-bottom: solid lightgray 1px;
    padding: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-weight: 700;
  }
  .profile {
    width: 250px;
    height: 80vh;
    overflow: scroll;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    display: block;
    margin: auto;
    background-color: white;

  }
  .tag {
    border: solid lightgray 1px;
    width: max-content;
    padding: .2rem .5rem;
    border-radius: 2rem;
    margin: 0.2rem 0.1rem;
    font-size: .8rem;
  }

  .active {
    background: -webkit-linear-gradient(45deg, #fd297b, #ff5864, #ff655b);
    color: white;
  }
  input{
    width: 100%;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
  }

  .icon {
    width: 50px;
  }

  .name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .input-icon {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .blur {
    filter: blur(0px);
  }

  .blur{
    transition: filter 1s ease-in-out;
    transition: position 0.2s ease-in-out;
  }

  .peerSelect {
    grid-area: select;
    padding: 2rem;
    margin: auto;
  }

  .myProfile {
    grid-area: myProfile;
  }

  .otherProfile {
    grid-area: otherProfile;
  }

  input{
    border: none;
    outline: none;
  }

  .input-icon > input {
    margin-bottom: 0;
  }

  .name-age {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .age {
    font-size: 1.2rem;
    color: gray;
    text-align: right;
  }

  .intro {
    height: calc(100vh - 10rem);
    display: grid;
    place-content: center;
    
  }

  .intro > p {
    
    text-align: center;
    width: 30rem;
    margin: auto;
    margin-bottom: 2rem;
    line-height: 1.3;
  }

  .start {
    display: block;
    margin: auto;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3rem;
    width: 5rem;
    height: 3rem;
    background: linear-gradient(45deg, #fd297b, #ff5864, #ff655b);
    color: white;
    
  }

  .start > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .start:hover {
    cursor: pointer;
    background: none;
    background-color: white;
    border: solid 2px #ff5864;
    color: #ff5864;
  }

  .start:active > div {
    transform: scale(0.9);
    font-weight: 700;
  }

  .peerSelect__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .peerSelect__wrapper > select {
    margin-top: .8rem;
    margin-bottom: 2rem;
  }

  

  .status {
    color: grey;
    font-size: 0.6rem;
  }

  .reset {
    cursor: pointer;
    background: none;
    background-color: white;
    border: solid 2px #ff5864;
    color: #ff5864;
    width: 10rem;
    text-align: center;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
  }

  .message{
    text-align: center;
  }

  .buttons__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .hidden{
    display: none;
    
  }